/*
    Document   : public/styles.css
    Created on : 2016-04-05 10:25 AM
    Author     : janhajk
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

root {
    display: block;
}